{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="bookings-img-container">
    <img
        class="bookings-img"
        src="{% static 'homepage/img/hero.jpg' %}"
        alt="View of one of our Restaurants"
    />
</div>

<div class="container-fluid error-container">
	<div class="row h-100">
		<div class="col-12 d-flex flex-column align-items-center justify-content-center text-center">
            <h1 class="error-heading text-danger">500</h1>
            <p class="error-text fw-bold">
                Internal Server Error Please try again.
            </p>
            <p class="error-text fw-bold" >Or Follow this link to return home</p>
            <a href="{% url 'homepage' %}" class="btn booking-btn">
                Home
            </a>
		</div>
	</div>
</div>

{% endblock %}