:root {
    --primary-color: #469995;
    --secondary-color: #101419;
    --tertiary-color: #984447;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Navbar */

nav {
    font-size: 1.6rem;
}
.nav-link:hover {
    color: var(--tertiary-color);
}

nav i {
    font-size: 2rem;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .4);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

/* Hero */

.hero-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    display: inline-block;
    object-fit: cover;
}

.hero-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #469995, #101419);
    opacity: 0.8;
    z-index: 5;
}
  
  .hero-container p {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: left;
    z-index: 10;
  }
  
  .hero-button {
    background: var(--secondary-color);
    color: #44575b;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 20px 90px;
    text-decoration: none;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  .hero-button:hover {
    color: var(--tertiary-color);
  }
  
  .hero-title {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
    margin: 5px 0;
    width: 85%;
    z-index: 10;
  }
  
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-12px, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-12px, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(12px, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(12px, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  .animate {
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
            animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
  }
  
  
  .delay-400 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .delay-600 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  
  .delay-800 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  .delay-1000 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  header a {
    z-index: 10;
  }

  .down-arrow {
    justify-self: flex-end;
    font-size: 10rem;
    color: var(--primary-color);
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  header a:hover .down-arrow {
    color: var(--tertiary-color);
  }

/* Hero Scroll */

.contained {
	margin: 0 auto;
	width: 90%;
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: 1em 0;
	position: relative;
	background: #f5f5f5;
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
}

header img {
  height: 100%;
	width: 100vw;
	max-width: none;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
}


/* Your bookings view */

.bookings-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookings-img-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.bookings-img {
  height: 100%;
	width: 100vw;
	max-width: none;
	position: fixed;
  z-index: -1;
}

.bookings-img-container::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #469995, #101419);
  opacity: 0.8;
  z-index: 5;
}

.bookings-title {
  z-index: 10;
  margin-bottom: 5rem;
  padding: 0 2rem;
  font-size: 5rem;
  color: #000;
  border-radius: 2rem;
}

.bookings {
  min-width: 70vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  border-radius: 3rem;
}

.bookings-list {
  margin-left: 2rem;
  background-color: none;
  
}

.booking {
  background-color: transparent;
  border: none;
  margin: 1rem;
}

.booking a {
  color: var(--tertiary-color);
  transition: 0.2s ease-in;
}

.booking a:hover {
  color: var(--primary-color);
}

.booking a:active h1 {
  transform: scale(0.98);
}



/* Footer */

.footer {
    width: 100%;
    font-size: 2rem;
    background-color: var(--secondary-color);
    z-index: 20;
}

.footer p,
.footer i {
    color: var(--primary-color);

}


/* Utilities */

.space-filler {
    height: 300vh;
    width: 100%;
    background-color: aqua;
}

/* Media quires */
@media screen and (min-width: 640px) {
   
    .hero {
      background-position: 50% 0;
    }
    
    .hero-container {
      height: 100vh;
    }

}

