{% extends "base.html" %} {% load static %} {% block content %}

<div class="row flex-column justify-content-center align-items-center gradient-bg" style="height: 100vh;">
    
    <div class="booking-form2">
        <form action="/bookings/" method="POST" class="form">
                <h1 class="form-title">Make your reservation</h1>
                {% csrf_token %}
                <div class="form-group">
                    <span class="form-label">Restaurant</span>
                    {{ form.restaurant }}
                </div>
                <div class="form-group">
                    <span class="form-label">email</span>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <span class="form-label">Phone</span>
                    {{ form.number }}
                </div>
                <div class="form-group">
                    <span class="form-label">Time</span>
                    {{ form.time }}
                </div>
                <div class="form-group">
                    <span class="form-label">Date</span>
                    {{ form.date }}
                </div>
                <div class="form-group">
                    <span class="form-label">Adults</span>
                    {{ form.no_of_adults }}
                </div>
                <div class="form-group">
                    <span class="form-label">Children</span>
                    {{ form.no_of_children }}
                </div>
                <input type="submit" class="submit-btn" value="Book Now">
        </form>
    </div>
   
</div>

{% endblock content %}

