{% extends 'base.html' %}
{% load static %} 

{% block content %}
<a href="{% url 'your_bookings' %}"><i class="fas fa-chevron-left return"></i></a>
<div class="bookings-img-container">
    <img class="bookings-img" src="{% static 'bookings/img/hero.jpg' %}" alt="View of one of our Restaurants">
</div>
<section class="bookings-view">
    <div class="container">
        <div class="booking-detail mask-custom">
                <h2 class="detail-title">{{ booking.restaurant }} - - {{ booking.date }}</h2>
                <div class="detail-flex">
                    <h3>Booking name:</h3>
                    <h3>{{ booking.name }}</h3>
                </div>
                <div class="detail-flex">
                    <h3>Time:</h3>
                    <h3>{{ booking.time }}</h3>
                </div>
                <div class="detail-flex">
                    <h3>No of Adults / Children:</h3>
                    <h3>{{ booking.no_of_adults }} / {{ booking.no_of_children }}</h3>
                </div>
                <div class="detail-flex mt-5">
                    <a href="{% url 'booking_update' slug=booking.slug %}"class="btn booking-btn">Update</a>
                    <form action="{% url 'booking_detail' slug=booking.slug %}" method="post" >
                        {% csrf_token %}
                        <input type="submit" class="btn booking-btn cancel-btn" value="Cancel">
                    </form>
                </div>
        </div>
    </div>
   
</section>


{% endblock content %}
