{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="hero-container zoom-me">
    <img class="hero-img" src="{% static 'img/hero.jpg' %}" alt="View of one of our Restaurants">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate commodi obcaecati facilis quae fugit nobis vero quas, quod numquam minus, placeat temporibus enim officiis repudiandae eaque cumque dolorem iste!</p>
</header>

<section class="blurb" role="main">
	<div class="contained blurb">
		<h1>Zoom on Scroll Hero Image</h1>
		<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	</div>
</section>

<div class="space-filler"></div>

{% endblock content %}