{% extends 'base.html' %} {% load static %} {% block content %}
<div class="bookings-img-container">
    <img
        class="bookings-img"
        src="{% static 'homepage/img/hero.jpg' %}"
        alt="View of one of our Restaurants"
    />
</div>
<section class="bookings-view">
    <h2 class="title mask-custom">Your Reservations</h2>

    <!-- Bookings table, reversed in CSS so I can use the (~) general sibling selector on the right most view button -->

    <table class="bookings-table mask-custom">
        <thead>
            <tr>
                <th class="th-right"></th>
                <th>Adults/Kids</th>
                <th>Restaurant</th>
                <th class="th-left">Date</th>
                <!-- <th class="th-left d-none d-lg-block">Date & Time</th> -->
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            
                <tr>
                    <td class="view-btn"><a class="btn" href="{% url 'booking_detail' booking.slug %}">View</a></td>
                    <td>{{booking.no_of_adults}}/{{booking.no_of_children}}</td>
                    <td>{{ booking.restaurant }}</td>
                    <td class="d-none d-lg-block" style="direction: ltr;">{{ booking.time }} on {{ booking.date }}</td>
                    <td class="d-lg-none" style="direction: ltr;">{{ booking.date }}</td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'bookings' %}" class="hero-button">Book Now!</a>
</section>

{% endblock content %}
