{% extends 'base.html' %} {% load static %} {% block content %}
<div class="bookings-img-container">
    <img
        class="bookings-img"
        src="{% static 'bookings/img/hero.jpg' %}"
        alt="View of one of our Restaurants"
    />
</div>
<section class="bookings-view">
    <h2 class="title mask-custom">Your Reservations</h2>

    <div class="bookings mask-custom">
        <ul class="bookings-list list-group list-group-flush">
            {% for booking in bookings %}
            <li class="booking list-group-item">
                <a href="{% url 'booking_detail' slug=booking.slug %}"
                    ><h1>{{ booking.restaurant }} - {{ booking.date }}</h1></a
                >
            </li>
            {% endfor %}
        </ul>
    </div>

    <a href="{% url 'bookings' %}" class="hero-button">Book Now!</a>
</section>

{% endblock content %}
